<div class="container-fluid">
  <div class="row d-flex flex-column text-center mb-3">
    <p class="col-md-auto">お問い合わせありがとうございます。</p>
    <p class="col-md-auto">ご回答まで2営業日程お待ちください。</p>
  </div>
</div>
