// Place all the styles related to the public/hotels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*ホテル詳細画面でのスライダー*/
.slider {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
}

/*ホテル詳細画面でのスライダー画像の高さ*/ 
.img-show {
  max-height: 300px;
}

/*スライダーのドット*/
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 12px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

/*スライダーの矢印*/
.slick-prev:before {
  color: #000 !important;
  font-size: 14px !important;
}

.slick-next:before {
  color: #000 !important;
  font-size: 14px !important;
}

/*テーブルのヘッダーのフォントサイズ*/
th {
  font-size: 15px;
}