<%= form_with url: hotel_search_path, method: :get, local: true do |f| %>
<div class="input-group">
  <div class="input-group-prepend">
    <%= f.button :type => "submit", class: "input-group-text", style: "background-color: #007bff; color:white;" do %>
      <i class="fas fa-search"></i>
    <% end %>
  </div>
  <%= f.text_field :keyword, placeholder: "ホテル名で検索", class: "form-control", style: "font-size:14px" %>
</div>
<% end %>
