<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <h2 style="border-bottom: 2px solid #FF9933">会員退会</h2>
  </div>
  <p class="text-center">
    退会するとレビューの投稿や閲覧ができません。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <p class="text-center">
    本当に退会しますか？
  </p>
  <div class="row justify-content-center">
    <%= link_to "退会する", withdraw_member_path, method: :patch, class: "btn btn-danger col-md-2" %>
    <%= link_to "退会しない", mypage_path, class: "btn btn-primary col-md-2 ml-2" %>
  </div>
</div>

