<div class="container-fluid">
  <div class="row justify-content-center mb-3">
    <h2 style="border-bottom: 2px solid #FF9933">会員退会</h2>
  </div>
  <p class="text-center">
    退会するとレビューの投稿や閲覧ができません。<br>
    退会する場合は、「退会する」をクリックしてください。
  </p>
  <p class="text-center">
    本当に退会しますか？
  </p>
  <div class="text-center">
    <%= link_to "退会する", withdraw_member_path, method: :patch, class: "btn btn-danger" %>
    <%= link_to "退会しない", "/#{current_member.username}", class: "btn btn-primary" %>
  </div>
</div>

