<div class="container-fluid">

  <div class="row justify-content-center">
    <h3 style="border-bottom: 2px solid #FF9933">ギャラリー</h3>
  </div>

  <div class="row mt-3">
    <div class="d-flex flex-wrap justify-content-center">
      <% @pictures.each do |picture| %>
      <div class="mb-3 mx-1">
        <%= link_to Refile.attachment_url(picture, :image), "data-lightbox": "picture", "data-title": picture.image_name do %>
          <%= attachment_image_tag picture, :image, :fill, 250, 230 %>
          <div style="font-size:10px"><%= picture.image_name %></div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="d-flex justify-content-center"><%= paginate @pictures %></div>

</div>
