/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import 'public/homes';

/*フォントを明朝体に*/
body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

/*footerを固定させるため*/
#content {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

header {
  border-bottom: 2px ridge #6699FF;
  background-color: #EEFFFF;
  a:hover {
    text-decoration: none
  }
  .sns-icon {
    padding-left: 0;
  }
  .nav-link {
    padding: 5px 10px !important;
    background-color: #007bff !important;
    color: white !important;
  }
  .nav-link:hover {
    background-color: #FF9933 !important;
    color: black !important;
  }
  .logo {
    max-width: 150px;
    max-height: 60px;
  }
}

.fab:hover {
  color: #FF9933;
}

.input-group-text:hover {
  background-color: #FF9933 !important;
  color: black !important;
}

main {
  margin: 25px 0;
}

/*エラーメッセージ表示時にレイアウトが崩れないように*/
.field_with_errors {
  display: contents;
}

footer {
  border-top: 2px ridge #6699FF;
  background-color: #EEFFFF;
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0;
  .footer-text {
    display: inline-block;
  }
}

@media screen and (max-width:340px) {
  footer {
    height: 125px;
  }
}

.nav-items {
  font-size: 12px;
}

.navbar-toggler {
  border-color: #007bff;
  padding: 5px;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,123,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.search-form {
  margin: 10px 0;
}

@media screen and (min-width:992px) {
  .search-form {
    display: none !important;
  }
}

@media screen and (max-width:991px) {
  .search {
    display: none;
  }
}

/*ホテルの詳細画面やレビュー画面でのGoogleMap*/
#map {
  height: 250px;
}

/*ホテル一覧画面でのGoogleMap*/
#admin-map-index {
  height: 400px;
}

#member-map-index {
  height: 400px;
}

/*ホテル詳細画面でのスライダー*/
.slider {
  width: 600px;
  height: 300px;
  margin: 0 auto;
}

/*スライダーのドット*/
.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 12px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

/*スライダーの矢印*/
.slick-prev:before {
  color: #000 !important;
  font-size: 14px !important;
}

.slick-next:before {
  color: #000 !important;
  font-size: 14px !important;
}

/*レビュー画面の吹き出し*/
.balloon {
  position: relative;
  margin: 0 0 10px 30px;
  padding: 7px 10px;
  width: 95%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 25%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

/*レビューへのコメントの吹き出し*/
.balloon-circle {
  position: relative;
  padding: 5px 5px 5px 15px;
  max-width: 100%;
  background-color: #fff3ad;
  border-radius: 10px;         /* 角丸を指定 */
}

.balloon-circle:before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -10px;
  top: 5px;
  border-right: 15px solid #fff3ad;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}

/*自己紹介文*/
.introduction{
  position:relative;
  width:100%;
  height:auto;
  background:#EEFFFF;
  margin-top:15px;
  padding:10px;
  text-align:left;
  border:5px solid #007bff;
  color:#1A1A1A;
  font-size:10px;
  font-weight:bold;
  border-radius:23px;
  -webkit-border-radius:23px;
  -moz-border-radius:23px;
}

.introduction:before{
  border-color: #697f9f;
  border-top-width:15px;
  border-bottom-width:15px;
  border-left-width:18px;
  border-right-width:18px;
  margin-left: -18px;
  margin-bottom: 5px;
  border-bottom-color:#697f9f;
}

/*ホテルの説明*/
.caption {
    position:relative;
    width:100%;
    height:auto;
    background:#EEFFFF;
    margin-top:10px;
    padding:10px;
    text-align:left;
    border:5px solid #007bff;
    color:black;
    font-size:15px;
    font-weight:bold;
}

/*ページネーション自体のデザイン*/
.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  font-size: 14px;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  background: #93c9ff;
  border-radius: 15px !important;     /*角を丸くする*/
  // border-top-right-radius: 15px !important;
  // border-bottom-right-radius: 15px !important;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px !important;    /*角を丸くする*/
  // border-top-right-radius: 15px !important;
  // border-bottom-right-radius: 15px !important;
}

.hotel-first-image {
  width: 230px;
  height: 150px;
}

@media screen and (max-width:1024px) {
  .hotel-first-image {
    width: 200px;
  }

  .ranking {
    display: block !important;
  }
}