/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  font-family: "Times New Roman", "YuMincho", "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
}

#content {
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
  box-sizing: border-box;
}

header {
  border-bottom: 2px ridge #6699FF;
  background-color: #EEFFFF;
  .nav-link {
    background-color: #FF9933 !important;
  }
}

main {
  margin: 25px 0;
}

footer {
  border-top: 2px ridge #6699FF;
  background-color: #EEFFFF;
  height: 100px;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.nav-items {
  font-size: 10px;
}

.slider {
  width: 600px;
  height: 300px;
  margin: 0 auto;
}

.slick-dots {
  li {
    font-size: 20px !important;
    button:before {
      content: "★" !important;
      font-size: 12px !important;
      color: rgb(60, 60, 60) !important;
    }
  }
}

.slick-prev:before {
  color: #000 !important;
  font-size: 14px !important;
}

.slick-next:before {
  color: #000 !important;
  font-size: 14px !important;
}

.balloon {
  position: relative;
  display: inline-block;
  margin: 0 0 10px 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

.balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}

.star-rate {
  width: 10px;
  height: 10px;
}