<div class="container-fluid" style="height: 100px">

  <div class="row justify-content-center pt-2">
    <p>Copyright Urayasu Hotel Search. All rights reserved.</p>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-2 text-center">
      <%= link_to "プライバシーポリシー", privacy_path, class: "small" %>
    </div>
    <div class="col-md-2 text-center">
      <%= link_to "お問い合わせ", new_contact_path, class: "small" %>
    </div>
  </div>

</div>